@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?89098389');
  src: url('../fonts/fontello.eot?89098389#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?89098389') format('woff'),
       url('../fonts/fontello.ttf?89098389') format('truetype'),
       url('../fonts/fontello.svg?89098389#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?89098389#fontello') format('svg');
  }
}
*/
 
 [class^="epi-"]:before, [class*=" epi-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.epi-spin1:before { content: '\e800'; } /* '' */
.epi-spin2:before { content: '\e801'; } /* '' */
.epi-spin3:before { content: '\e802'; } /* '' */
.epi-spin4:before { content: '\e803'; } /* '' */
.epi-spin5:before { content: '\e804'; } /* '' */
.epi-spin6:before { content: '\e805'; } /* '' */
.epi-firefox:before { content: '\e806'; } /* '' */
.epi-chrome:before { content: '\e807'; } /* '' */
.epi-opera:before { content: '\e808'; } /* '' */
.epi-ie:before { content: '\e809'; } /* '' */
.epi-star-empty:before { content: '\e80a'; } /* '' */
.epi-star-half:before { content: '\e80b'; } /* '' */
.epi-star-half-alt:before { content: '\e80c'; } /* '' */
.epi-star:before { content: '\e80d'; } /* '' */
.epi-heart:before { content: '\e80e'; } /* '' */
.epi-heart-empty:before { content: '\e80f'; } /* '' */
.epi-mail-squared:before { content: '\e810'; } /* '' */
.epi-mail-alt:before { content: '\e811'; } /* '' */
.epi-mail:before { content: '\e812'; } /* '' */
.epi-search:before { content: '\e813'; } /* '' */
.epi-glass:before { content: '\e814'; } /* '' */
.epi-music:before { content: '\e815'; } /* '' */
.epi-user:before { content: '\e816'; } /* '' */
.epi-users:before { content: '\e817'; } /* '' */
.epi-male:before { content: '\e818'; } /* '' */
.epi-female:before { content: '\e819'; } /* '' */
.epi-child:before { content: '\e81a'; } /* '' */
.epi-video:before { content: '\e81b'; } /* '' */
.epi-videocam:before { content: '\e81c'; } /* '' */
.epi-picture:before { content: '\e81d'; } /* '' */
.epi-minus-squared-alt:before { content: '\e81e'; } /* '' */
.epi-minus-squared:before { content: '\e81f'; } /* '' */
.epi-minus-circled:before { content: '\e820'; } /* '' */
.epi-minus:before { content: '\e821'; } /* '' */
.epi-plus-squared-alt:before { content: '\e822'; } /* '' */
.epi-plus-squared:before { content: '\e823'; } /* '' */
.epi-plus-circled:before { content: '\e824'; } /* '' */
.epi-plus:before { content: '\e825'; } /* '' */
.epi-cancel-circled2:before { content: '\e826'; } /* '' */
.epi-cancel-circled:before { content: '\e827'; } /* '' */
.epi-cancel:before { content: '\e828'; } /* '' */
.epi-ok-squared:before { content: '\e829'; } /* '' */
.epi-ok-circled2:before { content: '\e82a'; } /* '' */
.epi-ok-circled:before { content: '\e82b'; } /* '' */
.epi-ok:before { content: '\e82c'; } /* '' */
.epi-th-list:before { content: '\e82d'; } /* '' */
.epi-th:before { content: '\e82e'; } /* '' */
.epi-th-large:before { content: '\e82f'; } /* '' */
.epi-camera-alt:before { content: '\e830'; } /* '' */
.epi-camera:before { content: '\e831'; } /* '' */
.epi-help:before { content: '\e832'; } /* '' */
.epi-help-circled:before { content: '\e833'; } /* '' */
.epi-info-circled:before { content: '\e834'; } /* '' */
.epi-info:before { content: '\e835'; } /* '' */
.epi-home:before { content: '\e836'; } /* '' */
.epi-link:before { content: '\e837'; } /* '' */
.epi-unlink:before { content: '\e838'; } /* '' */
.epi-link-ext:before { content: '\e839'; } /* '' */
.epi-link-ext-alt:before { content: '\e83a'; } /* '' */
.epi-attach:before { content: '\e83b'; } /* '' */
.epi-lock:before { content: '\e83c'; } /* '' */
.epi-lock-open:before { content: '\e83d'; } /* '' */
.epi-lock-open-alt:before { content: '\e83e'; } /* '' */
.epi-pin:before { content: '\e83f'; } /* '' */
.epi-eye:before { content: '\e840'; } /* '' */
.epi-eye-off:before { content: '\e841'; } /* '' */
.epi-tag:before { content: '\e842'; } /* '' */
.epi-tags:before { content: '\e843'; } /* '' */
.epi-bookmark:before { content: '\e844'; } /* '' */
.epi-bookmark-empty:before { content: '\e845'; } /* '' */
.epi-share:before { content: '\e846'; } /* '' */
.epi-export-alt:before { content: '\e847'; } /* '' */
.epi-export:before { content: '\e848'; } /* '' */
.epi-code:before { content: '\e849'; } /* '' */
.epi-quote-right:before { content: '\e84a'; } /* '' */
.epi-quote-left:before { content: '\e84b'; } /* '' */
.epi-forward:before { content: '\e84c'; } /* '' */
.epi-reply-all:before { content: '\e84d'; } /* '' */
.epi-reply:before { content: '\e84e'; } /* '' */
.epi-upload-cloud:before { content: '\e84f'; } /* '' */
.epi-download-cloud:before { content: '\e850'; } /* '' */
.epi-upload:before { content: '\e851'; } /* '' */
.epi-download:before { content: '\e852'; } /* '' */
.epi-thumbs-down-alt:before { content: '\e853'; } /* '' */
.epi-thumbs-up-alt:before { content: '\e854'; } /* '' */
.epi-thumbs-down:before { content: '\e855'; } /* '' */
.epi-thumbs-up:before { content: '\e856'; } /* '' */
.epi-flag-checkered:before { content: '\e857'; } /* '' */
.epi-flag-empty:before { content: '\e858'; } /* '' */
.epi-flag:before { content: '\e859'; } /* '' */
.epi-share-squared:before { content: '\e85a'; } /* '' */
.epi-pencil:before { content: '\e85b'; } /* '' */
.epi-pencil-squared:before { content: '\e85c'; } /* '' */
.epi-edit:before { content: '\e85d'; } /* '' */
.epi-retweet:before { content: '\e85e'; } /* '' */
.epi-keyboard:before { content: '\e85f'; } /* '' */
.epi-gamepad:before { content: '\e860'; } /* '' */
.epi-comment:before { content: '\e861'; } /* '' */
.epi-chat:before { content: '\e862'; } /* '' */
.epi-comment-empty:before { content: '\e863'; } /* '' */
.epi-chat-empty:before { content: '\e864'; } /* '' */
.epi-bell:before { content: '\e865'; } /* '' */
.epi-bell-alt:before { content: '\e866'; } /* '' */
.epi-bell-off:before { content: '\e867'; } /* '' */
.epi-bell-off-empty:before { content: '\e868'; } /* '' */
.epi-attention-alt:before { content: '\e869'; } /* '' */
.epi-attention:before { content: '\e86a'; } /* '' */
.epi-attention-circled:before { content: '\e86b'; } /* '' */
.epi-location:before { content: '\e86c'; } /* '' */
.epi-folder-open:before { content: '\e86d'; } /* '' */
.epi-folder:before { content: '\e86e'; } /* '' */
.epi-file-code:before { content: '\e86f'; } /* '' */
.epi-file-video:before { content: '\e870'; } /* '' */
.epi-file-audio:before { content: '\e871'; } /* '' */
.epi-file-archive:before { content: '\e872'; } /* '' */
.epi-file-powerpoint:before { content: '\e873'; } /* '' */
.epi-file-image:before { content: '\e874'; } /* '' */
.epi-file-excel:before { content: '\e875'; } /* '' */
.epi-file-word:before { content: '\e876'; } /* '' */
.epi-file-pdf:before { content: '\e877'; } /* '' */
.epi-doc-text-inv:before { content: '\e878'; } /* '' */
.epi-doc-inv:before { content: '\e879'; } /* '' */
.epi-doc-text:before { content: '\e87a'; } /* '' */
.epi-docs:before { content: '\e87b'; } /* '' */
.epi-doc:before { content: '\e87c'; } /* '' */
.epi-trash-empty:before { content: '\e87d'; } /* '' */
.epi-trash:before { content: '\e87e'; } /* '' */
.epi-compass:before { content: '\e87f'; } /* '' */
.epi-direction:before { content: '\e880'; } /* '' */
.epi-folder-empty:before { content: '\e881'; } /* '' */
.epi-folder-open-empty:before { content: '\e882'; } /* '' */
.epi-box:before { content: '\e883'; } /* '' */
.epi-rss:before { content: '\e884'; } /* '' */
.epi-rss-squared:before { content: '\e885'; } /* '' */
.epi-phone:before { content: '\e886'; } /* '' */
.epi-phone-squared:before { content: '\e887'; } /* '' */
.epi-fax:before { content: '\e888'; } /* '' */
.epi-menu:before { content: '\e889'; } /* '' */
.epi-cog:before { content: '\e88a'; } /* '' */
.epi-cog-alt:before { content: '\e88b'; } /* '' */
.epi-wrench:before { content: '\e88c'; } /* '' */
.epi-sliders:before { content: '\e88d'; } /* '' */
.epi-basket:before { content: '\e88e'; } /* '' */
.epi-calendar:before { content: '\e88f'; } /* '' */
.epi-calendar-empty:before { content: '\e890'; } /* '' */
.epi-login:before { content: '\e891'; } /* '' */
.epi-logout:before { content: '\e892'; } /* '' */
.epi-mic:before { content: '\e893'; } /* '' */
.epi-mute:before { content: '\e894'; } /* '' */
.epi-down-dir:before { content: '\e895'; } /* '' */
.epi-right-circled2:before { content: '\e896'; } /* '' */
.epi-left-circled2:before { content: '\e897'; } /* '' */
.epi-up-circled2:before { content: '\e898'; } /* '' */
.epi-down-circled2:before { content: '\e899'; } /* '' */
.epi-zoom-out:before { content: '\e89a'; } /* '' */
.epi-zoom-in:before { content: '\e89b'; } /* '' */
.epi-move:before { content: '\e89c'; } /* '' */
.epi-resize-horizontal:before { content: '\e89d'; } /* '' */
.epi-resize-vertical:before { content: '\e89e'; } /* '' */
.epi-resize-small:before { content: '\e89f'; } /* '' */
.epi-resize-full-alt:before { content: '\e8a0'; } /* '' */
.epi-resize-full:before { content: '\e8a1'; } /* '' */
.epi-block:before { content: '\e8a2'; } /* '' */
.epi-lightbulb:before { content: '\e8a3'; } /* '' */
.epi-clock:before { content: '\e8a4'; } /* '' */
.epi-headphones:before { content: '\e8a5'; } /* '' */
.epi-volume-down:before { content: '\e8a6'; } /* '' */
.epi-up-dir:before { content: '\e8a7'; } /* '' */
.epi-volume-off:before { content: '\e8a8'; } /* '' */
.epi-left-dir:before { content: '\e8a9'; } /* '' */
.epi-right-dir:before { content: '\e8aa'; } /* '' */
.epi-down-open:before { content: '\e8ab'; } /* '' */
.epi-left-open:before { content: '\e8ac'; } /* '' */
.epi-right-open:before { content: '\e8ad'; } /* '' */
.epi-up-open:before { content: '\e8ae'; } /* '' */
.epi-angle-left:before { content: '\e8af'; } /* '' */
.epi-angle-right:before { content: '\e8b0'; } /* '' */
.epi-angle-up:before { content: '\e8b1'; } /* '' */
.epi-angle-down:before { content: '\e8b2'; } /* '' */
.epi-angle-circled-left:before { content: '\e8b3'; } /* '' */
.epi-angle-circled-right:before { content: '\e8b4'; } /* '' */
.epi-angle-circled-up:before { content: '\e8b5'; } /* '' */
.epi-angle-circled-down:before { content: '\e8b6'; } /* '' */
.epi-angle-double-left:before { content: '\e8b7'; } /* '' */
.epi-angle-double-right:before { content: '\e8b8'; } /* '' */
.epi-angle-double-up:before { content: '\e8b9'; } /* '' */
.epi-angle-double-down:before { content: '\e8ba'; } /* '' */
.epi-down:before { content: '\e8bb'; } /* '' */
.epi-level-down:before { content: '\e8bc'; } /* '' */
.epi-level-up:before { content: '\e8bd'; } /* '' */
.epi-arrows-cw:before { content: '\e8be'; } /* '' */
.epi-ccw:before { content: '\e8bf'; } /* '' */
.epi-cw:before { content: '\e8c0'; } /* '' */
.epi-down-circled:before { content: '\e8c1'; } /* '' */
.epi-up-circled:before { content: '\e8c2'; } /* '' */
.epi-right-circled:before { content: '\e8c3'; } /* '' */
.epi-left-circled:before { content: '\e8c4'; } /* '' */
.epi-down-hand:before { content: '\e8c5'; } /* '' */
.epi-up-hand:before { content: '\e8c6'; } /* '' */
.epi-left-hand:before { content: '\e8c7'; } /* '' */
.epi-up-big:before { content: '\e8c8'; } /* '' */
.epi-right-hand:before { content: '\e8c9'; } /* '' */
.epi-right-big:before { content: '\e8ca'; } /* '' */
.epi-left-big:before { content: '\e8cb'; } /* '' */
.epi-down-big:before { content: '\e8cc'; } /* '' */
.epi-up:before { content: '\e8cd'; } /* '' */
.epi-right:before { content: '\e8ce'; } /* '' */
.epi-left:before { content: '\e8cf'; } /* '' */
.epi-shuffle:before { content: '\e8d0'; } /* '' */
.epi-exchange:before { content: '\e8d1'; } /* '' */
.epi-history:before { content: '\e8d2'; } /* '' */
.epi-expand:before { content: '\e8d3'; } /* '' */
.epi-collapse:before { content: '\e8d4'; } /* '' */
.epi-expand-right:before { content: '\e8d5'; } /* '' */
.epi-collapse-left:before { content: '\e8d6'; } /* '' */
.epi-play:before { content: '\e8d7'; } /* '' */
.epi-play-circled:before { content: '\e8d8'; } /* '' */
.epi-play-circled2:before { content: '\e8d9'; } /* '' */
.epi-stop:before { content: '\e8da'; } /* '' */
.epi-pause:before { content: '\e8db'; } /* '' */
.epi-to-end:before { content: '\e8dc'; } /* '' */
.epi-to-end-alt:before { content: '\e8dd'; } /* '' */
.epi-to-start:before { content: '\e8de'; } /* '' */
.epi-to-start-alt:before { content: '\e8df'; } /* '' */
.epi-fast-fw:before { content: '\e8e0'; } /* '' */
.epi-fast-bw:before { content: '\e8e1'; } /* '' */
.epi-leaf:before { content: '\e8e2'; } /* '' */
.epi-space-shuttle:before { content: '\e8e3'; } /* '' */
.epi-eject:before { content: '\e8e4'; } /* '' */
.epi-target:before { content: '\e8e5'; } /* '' */
.epi-paper-plane-empty:before { content: '\e8e6'; } /* '' */
.epi-paper-plane:before { content: '\e8e7'; } /* '' */
.epi-fighter-jet:before { content: '\e8e8'; } /* '' */
.epi-umbrella:before { content: '\e8e9'; } /* '' */
.epi-moon:before { content: '\e8ea'; } /* '' */
.epi-flash:before { content: '\e8eb'; } /* '' */
.epi-cloud:before { content: '\e8ec'; } /* '' */
.epi-sun:before { content: '\e8ed'; } /* '' */
.epi-globe:before { content: '\e8ee'; } /* '' */
.epi-inbox:before { content: '\e8ef'; } /* '' */
.epi-mobile:before { content: '\e8f0'; } /* '' */
.epi-tablet:before { content: '\e8f1'; } /* '' */
.epi-laptop:before { content: '\e8f2'; } /* '' */
.epi-desktop:before { content: '\e8f3'; } /* '' */
.epi-award:before { content: '\e8f4'; } /* '' */
.epi-wifi:before { content: '\e8f5'; } /* '' */
.epi-signal:before { content: '\e8f6'; } /* '' */
.epi-font:before { content: '\e8f7'; } /* '' */
.epi-bold:before { content: '\e8f8'; } /* '' */
.epi-table:before { content: '\e8f9'; } /* '' */
.epi-check-empty:before { content: '\e8fa'; } /* '' */
.epi-circle:before { content: '\e8fb'; } /* '' */
.epi-columns:before { content: '\e8fc'; } /* '' */
.epi-circle-empty:before { content: '\e8fd'; } /* '' */
.epi-crop:before { content: '\e8fe'; } /* '' */
.epi-circle-thin:before { content: '\e8ff'; } /* '' */
.epi-scissors:before { content: '\e900'; } /* '' */
.epi-italic:before { content: '\e901'; } /* '' */
.epi-header:before { content: '\e902'; } /* '' */
.epi-paragraph:before { content: '\e903'; } /* '' */
.epi-paste:before { content: '\e904'; } /* '' */
.epi-circle-notch:before { content: '\e905'; } /* '' */
.epi-dot-circled:before { content: '\e906'; } /* '' */
.epi-text-height:before { content: '\e907'; } /* '' */
.epi-text-width:before { content: '\e908'; } /* '' */
.epi-suitcase:before { content: '\e909'; } /* '' */
.epi-briefcase:before { content: '\e90a'; } /* '' */
.epi-asterisk:before { content: '\e90b'; } /* '' */
.epi-gift:before { content: '\e90c'; } /* '' */
.epi-ellipsis:before { content: '\e90d'; } /* '' */
.epi-align-left:before { content: '\e90e'; } /* '' */
.epi-align-center:before { content: '\e90f'; } /* '' */
.epi-ellipsis-vert:before { content: '\e910'; } /* '' */
.epi-fire:before { content: '\e911'; } /* '' */
.epi-magnet:before { content: '\e912'; } /* '' */
.epi-off:before { content: '\e913'; } /* '' */
.epi-align-right:before { content: '\e914'; } /* '' */
.epi-align-justify:before { content: '\e915'; } /* '' */
.epi-road:before { content: '\e916'; } /* '' */
.epi-chart-bar:before { content: '\e917'; } /* '' */
.epi-chart-area:before { content: '\e918'; } /* '' */
.epi-list-alt:before { content: '\e919'; } /* '' */
.epi-list:before { content: '\e91a'; } /* '' */
.epi-indent-left:before { content: '\e91b'; } /* '' */
.epi-qrcode:before { content: '\e91c'; } /* '' */
.epi-chart-pie:before { content: '\e91d'; } /* '' */
.epi-chart-line:before { content: '\e91e'; } /* '' */
.epi-barcode:before { content: '\e91f'; } /* '' */
.epi-indent-right:before { content: '\e920'; } /* '' */
.epi-list-bullet:before { content: '\e921'; } /* '' */
.epi-book:before { content: '\e922'; } /* '' */
.epi-ticket:before { content: '\e923'; } /* '' */
.epi-credit-card:before { content: '\e924'; } /* '' */
.epi-ajust:before { content: '\e925'; } /* '' */
.epi-list-numbered:before { content: '\e926'; } /* '' */
.epi-strike:before { content: '\e927'; } /* '' */
.epi-tint:before { content: '\e928'; } /* '' */
.epi-floppy:before { content: '\e929'; } /* '' */
.epi-megaphone:before { content: '\e92a'; } /* '' */
.epi-underline:before { content: '\e92b'; } /* '' */
.epi-superscript:before { content: '\e92c'; } /* '' */
.epi-subscript:before { content: '\e92d'; } /* '' */
.epi-check:before { content: '\e92e'; } /* '' */
.epi-toggle-on:before { content: '\e92f'; } /* '' */
.epi-toggle-off:before { content: '\e930'; } /* '' */
.epi-hdd:before { content: '\e931'; } /* '' */
.epi-key:before { content: '\e932'; } /* '' */
.epi-rouble:before { content: '\e933'; } /* '' */
.epi-yen:before { content: '\e934'; } /* '' */
.epi-rupee:before { content: '\e935'; } /* '' */
.epi-dollar:before { content: '\e936'; } /* '' */
.epi-pound:before { content: '\e937'; } /* '' */
.epi-euro:before { content: '\e938'; } /* '' */
.epi-money:before { content: '\e939'; } /* '' */
.epi-bicycle:before { content: '\e93a'; } /* '' */
.epi-bus:before { content: '\e93b'; } /* '' */
.epi-taxi:before { content: '\e93c'; } /* '' */
.epi-truck:before { content: '\e93d'; } /* '' */
.epi-cab:before { content: '\e93e'; } /* '' */
.epi-magic:before { content: '\e93f'; } /* '' */
.epi-fork:before { content: '\e940'; } /* '' */
.epi-rocket:before { content: '\e941'; } /* '' */
.epi-bug:before { content: '\e942'; } /* '' */
.epi-certificate:before { content: '\e943'; } /* '' */
.epi-tasks:before { content: '\e944'; } /* '' */
.epi-filter:before { content: '\e945'; } /* '' */
.epi-beaker:before { content: '\e946'; } /* '' */
.epi-sort-up:before { content: '\e947'; } /* '' */
.epi-sort-down:before { content: '\e948'; } /* '' */
.epi-bitcoin:before { content: '\e949'; } /* '' */
.epi-sort:before { content: '\e94a'; } /* '' */
.epi-won:before { content: '\e94b'; } /* '' */
.epi-try:before { content: '\e94c'; } /* '' */
.epi-shekel:before { content: '\e94d'; } /* '' */
.epi-user-md:before { content: '\e94e'; } /* '' */
.epi-stethoscope:before { content: '\e94f'; } /* '' */
.epi-ambulance:before { content: '\e950'; } /* '' */
.epi-medkit:before { content: '\e951'; } /* '' */
.epi-h-sigh:before { content: '\e952'; } /* '' */
.epi-hospital:before { content: '\e953'; } /* '' */
.epi-building:before { content: '\e954'; } /* '' */
.epi-building-filled:before { content: '\e955'; } /* '' */
.epi-sort-alt-up:before { content: '\e956'; } /* '' */
.epi-sort-alt-down:before { content: '\e957'; } /* '' */
.epi-frown:before { content: '\e958'; } /* '' */
.epi-sort-name-down:before { content: '\e959'; } /* '' */
.epi-smile:before { content: '\e95a'; } /* '' */
.epi-sort-name-up:before { content: '\e95b'; } /* '' */
.epi-meh:before { content: '\e95c'; } /* '' */
.epi-sort-number-up:before { content: '\e95d'; } /* '' */
.epi-bank:before { content: '\e95e'; } /* '' */
.epi-anchor:before { content: '\e95f'; } /* '' */
.epi-sort-number-down:before { content: '\e960'; } /* '' */
.epi-terminal:before { content: '\e961'; } /* '' */
.epi-hammer:before { content: '\e962'; } /* '' */
.epi-eraser:before { content: '\e963'; } /* '' */
.epi-gauge:before { content: '\e964'; } /* '' */
.epi-sitemap:before { content: '\e965'; } /* '' */
.epi-puzzle:before { content: '\e966'; } /* '' */
.epi-shield:before { content: '\e967'; } /* '' */
.epi-spinner:before { content: '\e968'; } /* '' */
.epi-coffee:before { content: '\e969'; } /* '' */
.epi-extinguisher:before { content: '\e96a'; } /* '' */
.epi-bullseye:before { content: '\e96b'; } /* '' */
.epi-food:before { content: '\e96c'; } /* '' */
.epi-beer:before { content: '\e96d'; } /* '' */
.epi-wheelchair:before { content: '\e96e'; } /* '' */
.epi-copyright:before { content: '\e96f'; } /* '' */
.epi-calc:before { content: '\e970'; } /* '' */
.epi-plug:before { content: '\e971'; } /* '' */
.epi-binoculars:before { content: '\e972'; } /* '' */
.epi-newspaper:before { content: '\e973'; } /* '' */
.epi-tty:before { content: '\e974'; } /* '' */
.epi-soccer-ball:before { content: '\e975'; } /* '' */
.epi-bomb:before { content: '\e976'; } /* '' */
.epi-empire:before { content: '\e977'; } /* '' */
.epi-rebel:before { content: '\e978'; } /* '' */
.epi-lifebuoy:before { content: '\e979'; } /* '' */
.epi-database:before { content: '\e97a'; } /* '' */
.epi-tree:before { content: '\e97b'; } /* '' */
.epi-recycle:before { content: '\e97c'; } /* '' */
.epi-cubes:before { content: '\e97d'; } /* '' */
.epi-cube:before { content: '\e97e'; } /* '' */
.epi-spoon:before { content: '\e97f'; } /* '' */
.epi-paw:before { content: '\e980'; } /* '' */
.epi-graduation-cap:before { content: '\e981'; } /* '' */
.epi-language:before { content: '\e982'; } /* '' */
.epi-at:before { content: '\e983'; } /* '' */
.epi-eyedropper:before { content: '\e984'; } /* '' */
.epi-brush:before { content: '\e985'; } /* '' */
.epi-birthday:before { content: '\e986'; } /* '' */
.epi-cc-visa:before { content: '\e987'; } /* '' */
.epi-cc-mastercard:before { content: '\e988'; } /* '' */
.epi-cc-discover:before { content: '\e989'; } /* '' */
.epi-cc-amex:before { content: '\e98a'; } /* '' */
.epi-cc-paypal:before { content: '\e98b'; } /* '' */
.epi-cc-stripe:before { content: '\e98c'; } /* '' */
.epi-adn:before { content: '\e98d'; } /* '' */
.epi-android:before { content: '\e98e'; } /* '' */
.epi-angellist:before { content: '\e98f'; } /* '' */
.epi-apple:before { content: '\e990'; } /* '' */
.epi-behance:before { content: '\e991'; } /* '' */
.epi-behance-squared:before { content: '\e992'; } /* '' */
.epi-bitbucket:before { content: '\e993'; } /* '' */
.epi-bitbucket-squared:before { content: '\e994'; } /* '' */
.epi-cc:before { content: '\e995'; } /* '' */
.epi-codeopen:before { content: '\e996'; } /* '' */
.epi-gplus-squared:before { content: '\e997'; } /* '' */
.epi-gplus:before { content: '\e998'; } /* '' */
.epi-pinterest-circled:before { content: '\e999'; } /* '' */
.epi-tumblr-squared:before { content: '\e99a'; } /* '' */
.epi-pied-piper-alt:before { content: '\e99b'; } /* '' */
.epi-tumblr:before { content: '\e99c'; } /* '' */
.epi-lemon:before { content: '\e99d'; } /* '' */
.epi-blank:before { content: '\e99e'; } /* '' */
.epi-trello:before { content: '\e99f'; } /* '' */
.epi-pied-piper-squared:before { content: '\e9a0'; } /* '' */
.epi-google:before { content: '\e9a1'; } /* '' */
.epi-gittip:before { content: '\e9a2'; } /* '' */
.epi-paypal:before { content: '\e9a3'; } /* '' */
.epi-tencent-weibo:before { content: '\e9a4'; } /* '' */
.epi-youtube-play:before { content: '\e9a5'; } /* '' */
.epi-youtube-squared:before { content: '\e9a6'; } /* '' */
.epi-pagelines:before { content: '\e9a7'; } /* '' */
.epi-github-circled:before { content: '\e9a8'; } /* '' */
.epi-github-squared:before { content: '\e9a9'; } /* '' */
.epi-openid:before { content: '\e9aa'; } /* '' */
.epi-stumbleupon-circled:before { content: '\e9ab'; } /* '' */
.epi-stumbleupon:before { content: '\e9ac'; } /* '' */
.epi-yahoo:before { content: '\e9ad'; } /* '' */
.epi-steam-squared:before { content: '\e9ae'; } /* '' */
.epi-meanpath:before { content: '\e9af'; } /* '' */
.epi-github:before { content: '\e9b0'; } /* '' */
.epi-git:before { content: '\e9b1'; } /* '' */
.epi-maxcdn:before { content: '\e9b2'; } /* '' */
.epi-steam:before { content: '\e9b3'; } /* '' */
.epi-yelp:before { content: '\e9b4'; } /* '' */
.epi-xing-squared:before { content: '\e9b5'; } /* '' */
.epi-stackoverflow:before { content: '\e9b6'; } /* '' */
.epi-linkedin:before { content: '\e9b7'; } /* '' */
.epi-git-squared:before { content: '\e9b8'; } /* '' */
.epi-foursquare:before { content: '\e9b9'; } /* '' */
.epi-linux:before { content: '\e9ba'; } /* '' */
.epi-stackexchange:before { content: '\e9bb'; } /* '' */
.epi-xing:before { content: '\e9bc'; } /* '' */
.epi-wordpress:before { content: '\e9bd'; } /* '' */
.epi-spotify:before { content: '\e9be'; } /* '' */
.epi-linkedin-squared:before { content: '\e9bf'; } /* '' */
.epi-flickr:before { content: '\e9c0'; } /* '' */
.epi-facebook-squared:before { content: '\e9c1'; } /* '' */
.epi-lastfm-squared:before { content: '\e9c2'; } /* '' */
.epi-soundcloud:before { content: '\e9c3'; } /* '' */
.epi-windows:before { content: '\e9c4'; } /* '' */
.epi-weibo:before { content: '\e9c5'; } /* '' */
.epi-slideshare:before { content: '\e9c6'; } /* '' */
.epi-lastfm:before { content: '\e9c7'; } /* '' */
.epi-facebook:before { content: '\e9c8'; } /* '' */
.epi-drupal:before { content: '\e9c9'; } /* '' */
.epi-jsfiddle:before { content: '\e9ca'; } /* '' */
.epi-slack:before { content: '\e9cb'; } /* '' */
.epi-wechat:before { content: '\e9cc'; } /* '' */
.epi-vkontakte:before { content: '\e9cd'; } /* '' */
.epi-skype:before { content: '\e9ce'; } /* '' */
.epi-joomla:before { content: '\e9cf'; } /* '' */
.epi-dropbox:before { content: '\e9d0'; } /* '' */
.epi-dribbble:before { content: '\e9d1'; } /* '' */
.epi-renren:before { content: '\e9d2'; } /* '' */
.epi-vine:before { content: '\e9d3'; } /* '' */
.epi-ioxhost:before { content: '\e9d4'; } /* '' */
.epi-vimeo-squared:before { content: '\e9d5'; } /* '' */
.epi-reddit-squared:before { content: '\e9d6'; } /* '' */
.epi-instagramm:before { content: '\e9d7'; } /* '' */
.epi-digg:before { content: '\e9d8'; } /* '' */
.epi-deviantart:before { content: '\e9d9'; } /* '' */
.epi-reddit:before { content: '\e9da'; } /* '' */
.epi-html5:before { content: '\e9db'; } /* '' */
.epi-twitter:before { content: '\e9dc'; } /* '' */
.epi-twitter-squared:before { content: '\e9dd'; } /* '' */
.epi-qq:before { content: '\e9de'; } /* '' */
.epi-delicious:before { content: '\e9df'; } /* '' */
.epi-hacker-news:before { content: '\e9e0'; } /* '' */
.epi-css3:before { content: '\e9e1'; } /* '' */
.epi-gwallet:before { content: '\e9e2'; } /* '' */
.epi-pinterest-squared:before { content: '\e9e3'; } /* '' */
.epi-twitch:before { content: '\e9e4'; } /* '' */
.epi-box-1:before { content: '\e9e5'; } /* '' */
.epi-calendar-1:before { content: '\e9e6'; } /* '' */
.epi-calendar-inv:before { content: '\e9e7'; } /* '' */
.epi-calendar-alt:before { content: '\e9e8'; } /* '' */
.epi-search-1:before { content: '\e9e9'; } /* '' */
.epi-mail-1:before { content: '\e9ea'; } /* '' */
.epi-attach-1:before { content: '\e9eb'; } /* '' */
.epi-link-1:before { content: '\e9ec'; } /* '' */
.epi-pencil-alt:before { content: '\e9ed'; } /* '' */
.epi-undo:before { content: '\e9ee'; } /* '' */
.epi-article-alt:before { content: '\e9ef'; } /* '' */
.epi-article:before { content: '\e9f0'; } /* '' */
.epi-block-1:before { content: '\e9f1'; } /* '' */
.epi-resize-full-1:before { content: '\e9f2'; } /* '' */
.epi-split:before { content: '\e9f3'; } /* '' */
.epi-exchange-1:before { content: '\e9f4'; } /* '' */
.epi-mobile-1:before { content: '\e9f5'; } /* '' */
.epi-cd:before { content: '\e9f6'; } /* '' */
.epi-umbrella-1:before { content: '\e9f7'; } /* '' */
.epi-moon-inv:before { content: '\e9f8'; } /* '' */
.epi-chart-pie-1:before { content: '\e9f9'; } /* '' */
.epi-equalizer:before { content: '\e9fa'; } /* '' */
.epi-chart-bar-1:before { content: '\e9fb'; } /* '' */
.epi-arrow-curved:before { content: '\e9fc'; } /* '' */
.epi-play-1:before { content: '\e9fd'; } /* '' */
.epi-resize-small-1:before { content: '\e9fe'; } /* '' */
.epi-book-open:before { content: '\e9ff'; } /* '' */
.epi-folder-1:before { content: '\ea00'; } /* '' */
.epi-comment-1:before { content: '\ea01'; } /* '' */
.epi-comment-inv:before { content: '\ea02'; } /* '' */
.epi-lock-empty:before { content: '\ea03'; } /* '' */
.epi-lock-1:before { content: '\ea04'; } /* '' */
.epi-heart-1:before { content: '\ea05'; } /* '' */
.epi-heart-empty-1:before { content: '\ea06'; } /* '' */
.epi-star-1:before { content: '\ea07'; } /* '' */
.epi-user-1:before { content: '\ea08'; } /* '' */
.epi-lock-open-empty:before { content: '\ea09'; } /* '' */
.epi-lock-open-1:before { content: '\ea0a'; } /* '' */
.epi-comment-alt:before { content: '\ea0b'; } /* '' */
.epi-folder-empty-1:before { content: '\ea0c'; } /* '' */
.epi-resize-vertical-1:before { content: '\ea0d'; } /* '' */
.epi-resize-small-alt:before { content: '\ea0e'; } /* '' */
.epi-resize-full-alt-1:before { content: '\ea0f'; } /* '' */
.epi-play-circle2:before { content: '\ea10'; } /* '' */
.epi-cursor:before { content: '\ea11'; } /* '' */
.epi-aperture-alt:before { content: '\ea12'; } /* '' */
.epi-chart-pie-alt:before { content: '\ea13'; } /* '' */
.epi-aperture:before { content: '\ea14'; } /* '' */
.epi-key-1:before { content: '\ea15'; } /* '' */
.epi-key-inv:before { content: '\ea16'; } /* '' */
.epi-steering-wheel:before { content: '\ea17'; } /* '' */
.epi-stop-1:before { content: '\ea18'; } /* '' */
.epi-pause-1:before { content: '\ea19'; } /* '' */
.epi-resize-horizontal-1:before { content: '\ea1a'; } /* '' */
.epi-comment-alt2:before { content: '\ea1b'; } /* '' */
.epi-comment-inv-alt:before { content: '\ea1c'; } /* '' */
.epi-pin-1:before { content: '\ea1d'; } /* '' */
.epi-video-1:before { content: '\ea1e'; } /* '' */
.epi-eye-1:before { content: '\ea1f'; } /* '' */
.epi-comment-inv-alt2:before { content: '\ea20'; } /* '' */
.epi-picture-1:before { content: '\ea21'; } /* '' */
.epi-rss-alt:before { content: '\ea22'; } /* '' */
.epi-rss-1:before { content: '\ea23'; } /* '' */
.epi-move-1:before { content: '\ea24'; } /* '' */
.epi-to-start-1:before { content: '\ea25'; } /* '' */
.epi-book-1:before { content: '\ea26'; } /* '' */
.epi-hash:before { content: '\ea27'; } /* '' */
.epi-at-1:before { content: '\ea28'; } /* '' */
.epi-book-alt:before { content: '\ea29'; } /* '' */
.epi-to-end-1:before { content: '\ea2a'; } /* '' */
.epi-popup:before { content: '\ea2b'; } /* '' */
.epi-cog-1:before { content: '\ea2c'; } /* '' */
.epi-chat-1:before { content: '\ea2d'; } /* '' */
.epi-tag-1:before { content: '\ea2e'; } /* '' */
.epi-camera-1:before { content: '\ea2f'; } /* '' */
.epi-ok-1:before { content: '\ea30'; } /* '' */
.epi-ok-circle:before { content: '\ea31'; } /* '' */
.epi-download-1:before { content: '\ea32'; } /* '' */
.epi-tag-empty:before { content: '\ea33'; } /* '' */
.epi-location-1:before { content: '\ea34'; } /* '' */
.epi-chat-inv:before { content: '\ea35'; } /* '' */
.epi-wrench-1:before { content: '\ea36'; } /* '' */
.epi-share-1:before { content: '\ea37'; } /* '' */
.epi-left-1:before { content: '\ea38'; } /* '' */
.epi-down-1:before { content: '\ea39'; } /* '' */
.epi-eject-1:before { content: '\ea3a'; } /* '' */
.epi-target-1:before { content: '\ea3b'; } /* '' */
.epi-brush-alt:before { content: '\ea3c'; } /* '' */
.epi-brush-1:before { content: '\ea3d'; } /* '' */
.epi-pilcrow:before { content: '\ea3e'; } /* '' */
.epi-dial:before { content: '\ea3f'; } /* '' */
.epi-right-1:before { content: '\ea40'; } /* '' */
.epi-signal-1:before { content: '\ea41'; } /* '' */
.epi-eyedropper-1:before { content: '\ea42'; } /* '' */
.epi-layers:before { content: '\ea43'; } /* '' */
.epi-award-1:before { content: '\ea44'; } /* '' */
.epi-up-1:before { content: '\ea45'; } /* '' */
.epi-location-alt:before { content: '\ea46'; } /* '' */
.epi-location-inv:before { content: '\ea47'; } /* '' */
.epi-upload-1:before { content: '\ea48'; } /* '' */
.epi-download-cloud-1:before { content: '\ea49'; } /* '' */
.epi-cancel-1:before { content: '\ea4a'; } /* '' */
.epi-cancel-circle:before { content: '\ea4b'; } /* '' */
.epi-plus-1:before { content: '\ea4c'; } /* '' */
.epi-upload-cloud-1:before { content: '\ea4d'; } /* '' */
.epi-compass-1:before { content: '\ea4e'; } /* '' */
.epi-award-empty:before { content: '\ea4f'; } /* '' */
.epi-down-circle:before { content: '\ea50'; } /* '' */
.epi-layers-alt:before { content: '\ea51'; } /* '' */
.epi-sun-1:before { content: '\ea52'; } /* '' */
.epi-list-1:before { content: '\ea53'; } /* '' */
.epi-left-circle:before { content: '\ea54'; } /* '' */
.epi-mic-1:before { content: '\ea55'; } /* '' */
.epi-trash-1:before { content: '\ea56'; } /* '' */
.epi-quote-left-1:before { content: '\ea57'; } /* '' */
.epi-minus-1:before { content: '\ea58'; } /* '' */
.epi-plus-circle:before { content: '\ea59'; } /* '' */
.epi-quote-right-1:before { content: '\ea5a'; } /* '' */
.epi-trash-empty-1:before { content: '\ea5b'; } /* '' */
.epi-volume-off-1:before { content: '\ea5c'; } /* '' */
.epi-right-circle:before { content: '\ea5d'; } /* '' */
.epi-list-nested:before { content: '\ea5e'; } /* '' */
.epi-cloud-1:before { content: '\ea5f'; } /* '' */
.epi-bat-empty:before { content: '\ea60'; } /* '' */
.epi-sun-inv:before { content: '\ea61'; } /* '' */
.epi-bat-half:before { content: '\ea62'; } /* '' */
.epi-rain:before { content: '\ea63'; } /* '' */
.epi-cw-1:before { content: '\ea64'; } /* '' */
.epi-up-circle:before { content: '\ea65'; } /* '' */
.epi-volume-up:before { content: '\ea66'; } /* '' */
.epi-headphones-1:before { content: '\ea67'; } /* '' */
.epi-doc-1:before { content: '\ea68'; } /* '' */
.epi-doc-inv-1:before { content: '\ea69'; } /* '' */
.epi-quote-right-alt:before { content: '\ea6a'; } /* '' */
.epi-quote-left-alt:before { content: '\ea6b'; } /* '' */
.epi-minus-circle:before { content: '\ea6c'; } /* '' */
.epi-help-1:before { content: '\ea6d'; } /* '' */
.epi-info-1:before { content: '\ea6e'; } /* '' */
.epi-home-1:before { content: '\ea6f'; } /* '' */
.epi-pencil-neg:before { content: '\ea70'; } /* '' */
.epi-pencil-1:before { content: '\ea71'; } /* '' */
.epi-doc-alt:before { content: '\ea72'; } /* '' */
.epi-doc-inv-alt:before { content: '\ea73'; } /* '' */
.epi-clock-1:before { content: '\ea74'; } /* '' */
.epi-lamp:before { content: '\ea75'; } /* '' */
.epi-loop-alt:before { content: '\ea76'; } /* '' */
.epi-bat-full:before { content: '\ea77'; } /* '' */
.epi-bat-charge:before { content: '\ea78'; } /* '' */
.epi-moon-1:before { content: '\ea79'; } /* '' */
.epi-flash-1:before { content: '\ea7a'; } /* '' */
.epi-gift-1:before { content: '\ea7b'; } /* '' */
.epi-print:before { content: '\ea7c'; } /* '' */
.epi-crown:before { content: '\ea7d'; } /* '' */
.epi-crown-plus:before { content: '\ea7e'; } /* '' */
.epi-crown-minus:before { content: '\ea7f'; } /* '' */
.epi-marquee:before { content: '\ea80'; } /* '' */
.epi-user-plus:before { content: '\ea81'; } /* '' */
.epi-user-times:before { content: '\ea82'; } /* '' */
.epi-user-secret:before { content: '\ea83'; } /* '' */
.epi-cart-arrow-down:before { content: '\ea84'; } /* '' */
.epi-cart-plus:before { content: '\ea85'; } /* '' */
.epi-volume-up-1:before { content: '\ea86'; } /* '' */
.epi-medium:before { content: '\ea87'; } /* '' */
.epi-server:before { content: '\ea88'; } /* '' */
.epi-ship:before { content: '\ea89'; } /* '' */
.epi-subway:before { content: '\ea8a'; } /* '' */
.epi-train:before { content: '\ea8b'; } /* '' */
.epi-facebook-official:before { content: '\ea8c'; } /* '' */
.epi-forumbee:before { content: '\ea8d'; } /* '' */
.epi-sellsy:before { content: '\ea8e'; } /* '' */
.epi-shirtsinbulk:before { content: '\ea8f'; } /* '' */
.epi-simplybuilt:before { content: '\ea90'; } /* '' */
.epi-skyatlas:before { content: '\ea91'; } /* '' */
.epi-whatsapp:before { content: '\ea92'; } /* '' */
.epi-youtube:before { content: '\ea93'; } /* '' */
.epi-dashcube:before { content: '\ea94'; } /* '' */
.epi-connectdevelop:before { content: '\ea95'; } /* '' */
.epi-buysellads:before { content: '\ea96'; } /* '' */
.epi-diamond:before { content: '\ea97'; } /* '' */
.epi-motorcycle:before { content: '\ea98'; } /* '' */
.epi-heartbeat:before { content: '\ea99'; } /* '' */
.epi-viacoin:before { content: '\ea9a'; } /* '' */
.epi-bed:before { content: '\ea9b'; } /* '' */
.epi-street-view:before { content: '\ea9c'; } /* '' */
.epi-flight:before { content: '\ea9d'; } /* '' */
.epi-music-1:before { content: '\ea9e'; } /* '' */
.epi-wallet:before { content: '\ea9f'; } /* '' */
.epi-t-shirt:before { content: '\eaa0'; } /* '' */
.epi-diamond-1:before { content: '\eaa1'; } /* '' */
.epi-shop:before { content: '\eaa2'; } /* '' */
.epi-food-1:before { content: '\eaa3'; } /* '' */
.epi-money-1:before { content: '\eaa4'; } /* '' */
.epi-truck-1:before { content: '\eaa5'; } /* '' */
.epi-beaker-1:before { content: '\eaa6'; } /* '' */
.epi-note:before { content: '\eaa7'; } /* '' */
.epi-cog-2:before { content: '\eaa8'; } /* '' */
.epi-search-2:before { content: '\eaa9'; } /* '' */
.epi-mail-2:before { content: '\eaaa'; } /* '' */
.epi-params:before { content: '\eaab'; } /* '' */
.epi-calendar-2:before { content: '\eaac'; } /* '' */
.epi-heart-2:before { content: '\eaad'; } /* '' */
.epi-star-2:before { content: '\eaae'; } /* '' */
.epi-sound:before { content: '\eaaf'; } /* '' */
.epi-clock-2:before { content: '\eab0'; } /* '' */
.epi-user-2:before { content: '\eab1'; } /* '' */
.epi-videocam-1:before { content: '\eab2'; } /* '' */
.epi-lightbulb-1:before { content: '\eab3'; } /* '' */
.epi-tv:before { content: '\eab4'; } /* '' */
.epi-camera-2:before { content: '\eab5'; } /* '' */
.epi-photo:before { content: '\eab6'; } /* '' */
.epi-desktop-1:before { content: '\eab7'; } /* '' */
.epi-mobile-2:before { content: '\eab8'; } /* '' */
.epi-cd-1:before { content: '\eab9'; } /* '' */
.epi-inbox-1:before { content: '\eaba'; } /* '' */
.epi-globe-1:before { content: '\eabb'; } /* '' */
.epi-cloud-2:before { content: '\eabc'; } /* '' */
.epi-paper-plane-1:before { content: '\eabd'; } /* '' */
.epi-fire-1:before { content: '\eabe'; } /* '' */
.epi-graduation-cap-1:before { content: '\eabf'; } /* '' */
.epi-megaphone-1:before { content: '\eac0'; } /* '' */
.epi-database-1:before { content: '\eac1'; } /* '' */
.epi-key-2:before { content: '\eac2'; } /* '' */
.epi-doc-2:before { content: '\eac3'; } /* '' */
.epi-trash-2:before { content: '\eac4'; } /* '' */
.epi-cup:before { content: '\eac5'; } /* '' */
.epi-location-2:before { content: '\eac6'; } /* '' */
.epi-comment-2:before { content: '\eac7'; } /* '' */
.epi-pencil-2:before { content: '\eac8'; } /* '' */
.epi-thumbs-up-1:before { content: '\eac9'; } /* '' */
.epi-tag-2:before { content: '\eaca'; } /* '' */
.epi-eye-2:before { content: '\eacb'; } /* '' */
.epi-lock-2:before { content: '\eacc'; } /* '' */
.epi-attach-2:before { content: '\eacd'; } /* '' */
.epi-pinterest:before { content: '\eace'; } /* '' */
.epi-woman93:before { content: '\eacf'; } /* '' */
.epi-gesture35:before { content: '\ead0'; } /* '' */
.epi-idea14:before { content: '\ead1'; } /* '' */
.epi-mail-3:before { content: '\ead2'; } /* '' */
.epi-earth1:before { content: '\ead3'; } /* '' */
.epi-banking2:before { content: '\ead4'; } /* '' */
.epi-boxes2:before { content: '\ead5'; } /* '' */
.epi-earphones1:before { content: '\ead6'; } /* '' */
.epi-map-pointer2:before { content: '\ead7'; } /* '' */
.epi-delivery35:before { content: '\ead8'; } /* '' */
.epi-currency-symbol:before { content: '\ead9'; } /* '' */
.epi-finance-and-business4:before { content: '\eada'; } /* '' */
.epi-commercial15:before { content: '\eadb'; } /* '' */
.epi-verification5:before { content: '\eadc'; } /* '' */
.epi-talking2:before { content: '\eadd'; } /* '' */
.epi-insurance:before { content: '\eade'; } /* '' */
.epi-logistics3:before { content: '\eadf'; } /* '' */
.epi-website17:before { content: '\eae0'; } /* '' */
.epi-logistics2:before { content: '\eae1'; } /* '' */
.epi-businessman268:before { content: '\eae2'; } /* '' */
.epi-group:before { content: '\eae3'; } /* '' */
.epi-workers1:before { content: '\eae4'; } /* '' */
.epi-dollars19:before { content: '\eae5'; } /* '' */
.epi-add199:before { content: '\eae6'; } /* '' */
.epi-delivery25:before { content: '\eae7'; } /* '' */
.epi-delivery36:before { content: '\eae8'; } /* '' */
.epi-airplane68:before { content: '\eae9'; } /* '' */
.epi-money173:before { content: '\eaea'; } /* '' */
.epi-shopping-cart9:before { content: '\eaeb'; } /* '' */
.epi-shopping-cart10:before { content: '\eaec'; } /* '' */